{% extends 'usuarios/base_login.html' %}
{% load static %}

{% block content %}
<form method="POST" class="auth-form">
    {% csrf_token %}
            
    {% for field in form %}
        
        {% if field.name == 'password1' %}
            <div class="auth-input-group register password-group">
                {{ field.label_tag }}
                {{ field }}
                <span class="password-toggle" id="togglePasswordIcon">👁️</span>
                {% if field.errors %}
                    <small class="auth-field-error">{{ field.errors|first }}</small>
                {% endif %}
            </div>

        {% elif field.name == 'password2' %}
            <div class="auth-input-group register password-group">
                {{ field.label_tag }}
                {{ field }}
                <span class="password-toggle" id="togglePassword2Icon">👁️</span>
                {% if field.errors %}
                    <small class="auth-field-error">{{ field.errors|first }}</small>
                {% endif %}
            </div>

        {% else %}
            <div class="auth-input-group register">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <small class="auth-field-error">{{ field.errors|first }}</small>
                {% endif %}
            </div>
        {% endif %}

    {% endfor %}

    {% if form.non_field_errors %}
        <div class="auth-error">
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <button type="submit" class="btn-auth">Cadastrar</button>
</form>
{% endblock %}