{% extends 'usuarios/base_login.html' %}
{% load static %}

{% block content %}
<form method="POST" class="auth-form">
    {% csrf_token %}
            
    {% for field in form %}
        <div class="auth-input-group register">
            {{ field.label_tag }}
                    
            {{ field }}
                    
            {% if field.errors %}
                <small class="auth-field-error">{{ field.errors|first }}</small>
            {% endif %}
        </div>
    {% endfor %}

    {% if form.non_field_errors %}
        <div class="auth-error">
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <button type="submit" class="btn-auth">Cadastrar</button>
</form>
{% endblock %}