{% extends 'usuarios/base_login.html' %}
{% load static %}

{% block content %}
<form method="POST" class="auth-form">
    {% csrf_token %}
            
    <div class="auth-input-group">
        <input type="text" name="username" id="id_username" placeholder="Usuário" required>
                
        <span class="input-icon">👤</span>
    </div>
            
    <div class="auth-input-group">
        <input type="password" name="password" id="id_password" placeholder="Senha" required>
                
        <span class="input-icon"><img src="{% static 'images/olho_fechado.png'%}"> </span>
    </div>
    <div class ="nao-tem-login">
        <a href="{% url 'cadastro' %}" class="nao-tem-login">Não tem login? Cadastre-se</a>
    </div>

    {% if form.errors %}
        <p class="auth-error">Usuário ou senha inválidos.</p>
    {% endif %}

    <button type="submit" class="btn-auth">Entrar</button>
</form>
{% endblock %}