{% extends 'usuarios/base_login.html' %}
{% load static %}

{% block content %}
<form method="POST" class="auth-form">
    {% csrf_token %}
            
    {% if form.non_field_errors %}
        <div class="auth-error">
            <p>Usuário ou senha inválidos.</p>
        </div>
    {% endif %}

    <div class="auth-input-group register">
        {{ form.username.label_tag }}
        {{ form.username }}
        {% if form.username.errors %}<small class="auth-field-error">{{ form.username.errors|first }}</small>{% endif %}
    </div>

    <div class="auth-input-group register password-group">
        {{ form.password.label_tag }}
        {{ form.password }}
        <span class="password-toggle" id="togglePasswordIcon">👁️</span>
        {% if form.password.errors %}
            <small class="auth-field-error">{{ form.password.errors|first }}</small>
        {% endif %}
    </div>

    <button type="submit" class="btn-auth">Entrar</button>

    <a href="{% url 'cadastro' %}" class="nao-tem-login">Não tem login? Cadastre-se</a>
</form>
{% endblock %}