{% load static %}
<!DOCTYPE html>
<html lang="pt-br" tema-claro-escuro="dark"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BiblioTech</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header class="main-header">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/logo_texto2.png' %}" alt="BiblioTech Logo">
        </a>
        
        <a href="javascript:history.back()" class="back-button"> </a>
        
        {% block input %}
        <div class="search-container">
            <form action="{% url 'catalogo' %}" method="GET" autocomplete="off" style="width: 100%; margin: 0;">
                <input type="search" name="q" id="search-input" placeholder="Pesquisar Livros..." class="search-bar">
            </form>
            
            <div id="search-results" class="search-dropdown"></div>
        </div>
        {% endblock %}

        <button class="hamburger-button" aria-label="Abrir menu"><img src="{% static 'images/menu2.png' %}" alt="menuburger"></button>
    </header>

    <nav class="hamburger-menu">
    
        <a href="{% url 'catalogo' %}">Catálogo</a>
        <a id="tema-do-botao">Tema</a>

    
        {% if user.is_authenticated %}
        
            <a href="{% url 'perfil' %}">Perfil</a>
        
            {% if user.is_staff %}
                <a href="{% url 'reservas_adm' %}">Reservas</a>
            {% else %}
                <a href="{% url 'reservas_cliente' %}">Reservas</a>
            {% endif %}
        
            <a href="{% url 'logout' %}" class="btn-logout">Sair da conta</a>
    
        {% else %}
    
            <a href="{% url 'login' %}" class="btn-login">Fazer Login</a>
        
        {% endif %}
    </nav>


    <main>
        {% block voltar %}<a href="javascript:history.back()" class="back-button"><img src="{% static 'images/seta-voltar2.png' %}" alt="voltar"></a>{% endblock %}
        {% block content %}
        {% endblock %}
    </main>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>