{% extends 'core/base.html' %}
{% load static %}

{% block input %}
{% endblock %}

{% block content %}
<div class="backgrudas">
    <div class="creditos">
        <h2>IGOR JOE - O PATRÃO</h2>

        <h2>   LUIZ - APOIO MORAL</h2>
        
        <h2>   ARTHUR - PENSO DEMAIS</h2>
        
        <h2>   NICOLAS - VICE CAPITÃO AJUDO DEMAIS</h2>
        
        <h2>   BEA - AMEAÇO METADE DA TURMA </h2>
        
        <h2>   SAYURI - GENTE BOA ENTRO NO FINAL</h2>
        
        <h2>   VITINHO - TA LA NEM CONSEGUIU OPINAR</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>

    </div>
</div>
{% endblock %}