{% extends 'core/base.html' %}
{% load static %}

{% block input %}
{% endblock %}


{% block content %}
<div class="form-page-container">

    <form method="POST" class="book-form">
        {% csrf_token %}
        <h1>{{ titulo_pagina }}</h1>
        
        <div class="form-fields-wrapper">
            {{ form.as_p }}
        </div>

        <div class="form-actions">
            <button type="submit" class="btn-save">Salvar Alterações</button>
        </div>
    </form>
</div>
{% endblock %}