{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="dashboard-menu">
  <div class="hello-name">
    <h2>Painel do Administrador</h2>
  </div>
  <div class="buttons">
    <table>
      <tr>
        <a href="{% url 'catalogo' %}" class="btn-menu">Catálogo</a>
      </tr>
      <tr>
        <td>
          <a href="{% url 'reservas_adm' %}" class="btn-menu">Reservas</a>
        </td>
        <td>
          <a href="{% url 'perfil' %}" class="btn-menu">Perfil</a>
        </td>
      </tr>
      <td>
        <a href="{% url 'creditos' %}" class="btn-menu">Créditos</a>
      </td>
      <td>
        <a href="https://forms.gle/bautCQPkYsk7T8LGA" target="_blank" rel="noopener noreferrer" class="btn-menu">Avalie-nos</a>
      </td>
    </table>
  </div>
</div>
{% endblock %}