{% extends 'core/base.html' %}
{% load static %}

{% block input %}
{% endblock %}

{% block voltar %}
{% endblock %}

{% block content %}
<div class="dashboard-menu">
  <div class="hello-name">
    <h2>Bem-vindo, Convidado!</h2>
  </div>
  <div class="buttons">
    <table>
      <tr>
        <a href="{% url 'catalogo' %}" class="btn-menu">Catálogo<img src="{% static 'images/search.png' %}" alt="catalogo"></a>
      </tr>
      <tr>
        <a href="{% url 'creditos' %}" class="btn-menu">Créditos<img src="{% static 'images/communication.png' %}" alt="creditos"></a>
      </tr>
      <tr>
        <a href="https://forms.gle/bautCQPkYsk7T8LGA" target="_blank" rel="noopener noreferrer" class="btn-menu">Avalie-nos<img src="{% static 'images/star.png' %}" alt="avalie-nos"></a>
      </tr>
    </table>
  </div>
</div>
{% endblock %}