{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="dashboard-menu">
    <h2>Olá, {{ user.first_name|default:user.username }}!</h2>
    
    <a href="{% url 'catalogo' %}" class="btn-menu">Catálogo</a>
    <a href="{% url 'reservas_cliente' %}" class="btn-menu">Minhas Reservas</a>
    <a href="{% url 'perfil' %}" class="btn-menu">Perfil</a>
    <a href="{% url 'creditos' %}" class="btn-menu">Créditos</a>
    
    <a href="https://forms.gle/bautCQPkYsk7T8LGA" target="_blank" rel="noopener noreferrer" class="btn-menu">Avalie-nos</a>
</div>
{% endblock %}