{% extends 'core/base.html' %}
{% load static %}

{% block input %}
{% endblock %}

{% block content %}
<div class="dashboard-menu">
  <div class="hello-name">
    <h2>Olá, {{ user.first_name|default:user.username }}!</h2>
  </div>
  <div class="buttons">
    <table>
      <tr>
        <a href="{% url 'catalogo' %}" class="btn-menu">Catálogo<img src="{% static 'images/search.png' %}" alt="catalogo"></a>
      </tr>
      <tr>
        <td>
          <a href="{% url 'reservas_cliente' %}" class="btn-menu2">Minhas Reservas<img src="{% static 'images/open-book.png' %}" alt="minhas reservas"></a>
        </td>
        <td>
          <a href="{% url 'perfil' %}" class="btn-menu2">Perfil<img src="{% static 'images/user (2).png' %}" alt="perfil"></a>
        </td>
      </tr>
      <td>
        <a href="{% url 'creditos' %}" class="btn-menu2">Créditos<img src="{% static 'images/communication.png' %}" alt="creditos"></a>
      </td>
      <td>
        <a href="https://forms.gle/bautCQPkYsk7T8LGA" target="_blank" rel="noopener noreferrer" class="btn-menu2">Avalie-nos<img src="{% static 'images/star.png' %}" alt="avalie-nos"></a>
      </td>
    </table>
  </div>
</div>
{% endblock %}