
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


:root {
    --auth-purple: #5C0361;
    --auth-purple-dark: #4b0082;
    --auth-text: #ffffff;
    --auth-bg-transparent: rgba(0, 0, 0, 0.6);
    --border-button: #000000;
    --shadow-button: #6c6c6c;
    --auth-input-bg: rgba(255, 255, 255, 0.1);
    --auth-input-border: rgba(255, 255, 255, 0.5);
    --font-pixel:'Century Gothic', bold;
    --bg-color: #41082a;
    --secondary-color: #b99d7b;
}


.auth-body {

    background-image: url('../images/background.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

    display: flex;
    flex-direction: column;   
    align-items: center;  
    justify-content: flex-start; 
    
    min-height: 100vh; 
    


    padding: 20px;
    box-sizing: border-box; 

    font-family: var(--font-pixel);
    font-size: 24px; 
    color: var(--auth-text);
}


.auth-container {

    width: 100%; 
    max-width: 400px;

}
.auth-container {
    
    background-image: url(../images/Rectangle.png);
    background-size:cover ;
    background-position: center;
    background-repeat: no-repeat;
    
    padding: 10%;

    border-radius: 10px;
    background-color: var(--secondary-color);
    
    display:flex;
    flex-direction: column;
    align-items:center ;
    gap: 20px; 
    
    max-width: 300px;
}

.nao-tem-login{
    color: var(--bg-color);
    text-decoration: underline;
    font-size: 15px;
}

.auth-logo-top {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.auth-logo-icon-img {
    width: 300px; 
}

.auth-top{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}



.auth-menu {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
    gap: 15px;
    align-items: center;
}

.btn-auth {
    background-color: var(--bg-color);
    color: var(--secondary-color);
    text-decoration: none;
    padding: 15px;
    margin: 20px;
    margin-left: 0px;
    text-align: center;
    font-size: 24px;
    font-family: var(--font-pixel);
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    width: 300px;
    border: var(--bg-color);
    transition: all 0.1s ease-out;
}

.btn-auth:hover {
    transform: translate(4px, 4px);
}

.btn-auth:active {
    transform: translate(4px, 4px);
    box-shadow: 0px 0px 0px var(--auth-purple-dark);
}

.btn-guest {
    background-color: var(--auth-purple);
    box-shadow: 4px 4px 0px #4b0082;
}
.btn-guest:hover {
    box-shadow: 2px 2px 0px #333;
}
.btn-guest:active {
    box-shadow: 0px 0px 0px #333;
}

.back-button img{
    width: 35px;
    transform: rotate(90deg);
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: -55px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.auth-input-group {
    position: relative;
    width: 100%;
}

.auth-input-group input {
    width: 100%;
    background-color: var(--auth-input-bg);
    border: none;

    border-bottom: 2px solid var(--bg-color);
    padding: 12px 10px;
    font-family: var(--font-pixel);
    font-size: 20px;
    color: var(--bg-color);
    border-radius: 3px 3px 0 0;
    box-sizing: border-box; 
}

.auth-input-group input:focus {
    outline: none;
    border-bottom: 2px solid var(--bg-color);
}


.auth-input-group input::placeholder {
    color: var(--bg-color);
    font-family: var(--font-pixel);
}


.auth-input-group .input-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.6;
}



.auth-input-group.register {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 5px;
    color: var(--bg-color);
    font-weight: bold;
}

.auth-input-group.register label {
    font-size: 18px;
    opacity: 0.8;
    margin-left: 5px;
    padding: 0;
}

.auth-input-group.register input {
    padding: 10px;
    font-size: 18px;
    border-bottom: none;
    border-radius: 3px;
}

.auth-input-group.register input:focus {
    border: none;
    outline: 2px solid var(--bg-color); 
}

.auth-error {
    color: #fc3434; 
    font-size: 18px;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}

.auth-field-error {
    color: #940303;
    font-size: 16px;
    margin-top: 2px;
}

.auth-form .auth-input-group.register select {

    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 3px;
    background-color: var(--auth-input-bg); 
    color: var(--bg-color); 
    font-family: var(--font-pixel); 
    border: none; 
    box-sizing: border-box; 


    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;


    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-13%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2013l128%20128c3.6%203.6%207.8%205.4%2013%205.4s9.4-1.8%2013-5.4l128-128c3.6-3.6%205.4-7.8%205.4-13%200-5-1.8-9.3-5.4-13z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    

    padding-right: 30px; 
}
.auth-form .auth-input-group.register select:hover{
    background-color: var(--secondary-color);
}


.auth-form .auth-input-group.register select option {
    background-color: var(--bg-color); 
    color: var(--secondary-color);
}    

.auth-input-group.password-group {
    position: relative; 
}


.auth-input-group.password-group input {
    padding-right: 45px !important; 
}

.password-toggle {
    position: absolute;
    right: 10px;

    top: 50%;
    margin-top: -5px;

    cursor: pointer;
    color: var(--bg-color); 
    opacity: 0.7;
    font-size: 24px;
    user-select: none; 
}
.password-toggle:hover {
    opacity: 1;
}
